@model DentalConsultingData.DentalCard

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Стоматологическая амбулаторная карта</h2>
<div>@Model.DentalCardContent</div>
@Html.ActionLink("Редактировать","Edit","DentalCard",new{id=Model.UserID})



