@model DentalConsulting.Models.AppUsers
@{
    ViewBag.Title = "UsersList";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}

<h2>Список пользователей</h2>
<table class="table">
    <tr>
        <th>Имя</th>
        <th>Email</th>
    </tr>
    @foreach (var user in Model.AppUser)
    {
       var identityUser = Model.IdentityAppUser.Find(u => u.Id == user.LoggedUserId);
        var roles = identityUser.Roles.Single();
        var identityRole = Model.AppRoles.Find(r => r.Id == roles.RoleId);
        <tr>
            <td>@user.UserName</td>
            <td>@Model.IdentityAppUser.Find(u=>u.Id==user.LoggedUserId).Email</td>
            <td>
                @identityRole.Name
            </td>
        </tr>
    }
</table>
@if (ViewBag.UsersList != null)
{
    foreach (var user in ViewBag.UsersList)
    {
        <p>@user</p>
    }
}
