@model IEnumerable<DentalConsultingData.Article>
@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-10 col-md-offset-1">
        @foreach (var item in Model)
        {
            <h2>@item.ArticleTitle</h2>
            <div>@item.ArticleContent.ArticleText</div>}
    </div>
    
</div>